/* All elements style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* Root style */
  :root {
    font-size: 16px;
    --main-color: #2c2c2c;
    --second-color: #656363;
    --third-color: #bc9060;
    --fourth-color: #d67e34;
  }